#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


//
// Dialog resources
//
LANGUAGE 0, SUBLANG_NEUTRAL

IDD_USERNAME_DLG DIALOGEX 0, 0, 260, 220
STYLE DS_SETFONT | DS_CONTROL | WS_BORDER | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "PAVEIKSLUAS",IDC_STATIC_IMG, SS_OWNERDRAW, SS_REALSIZEIMAGE | SS_ICON, 20,30,200,50
    LTEXT           "Enter username",IDC_STATIC,100,70,60,12,SS_NOPREFIX
    EDITTEXT        IDC_INPUT, 85, 84, 80, 15
    DEFPUSHBUTTON   "GO",IDOK,105,102,40,18,WS_GROUP
END

IDD_GAME_SEL_DLG DIALOGEX 0, 0, 260, 220
STYLE DS_SETFONT | DS_CONTROL | WS_BORDER | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Choose a game",IDC_STATIC,90,70,60,12,SS_NOPREFIX
    COMBOBOX        IDC_GAME_DROPWDOWN, 80, 84, 80, 15, CBS_DROPDOWNLIST | WS_TABSTOP
    DEFPUSHBUTTON   "GO",IDOK,98,102,40,18,WS_GROUP
END

IDD_GAME_DLG DIALOGEX 0, 0, 260, 225
STYLE DS_SETFONT | DS_CONTROL | WS_BORDER | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",IDC_STATIC,50,70,160,50,SS_NOPREFIX
    LTEXT           "Guess word 1",IDC_TEXT,85,180,60,12,SS_NOPREFIX
    EDITTEXT        IDC_INPUT, 70, 194, 80, 18
    DEFPUSHBUTTON   "GUESS",IDOK,155,194,60,18,WS_GROUP | BS_DEFPUSHBUTTON
END

// SCORE DIALOG CONTROL
IDD_SCORE_DLG DIALOGEX 0, 0, 260, 225
STYLE DS_SETFONT | DS_CONTROL | WS_BORDER | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "You finished!",IDC_STATIC,100,70,60,12,SS_NOPREFIX
    LTEXT           "Score: ",IDC_TEXT,103,100,100,12,SS_NOPREFIX
    LTEXT           "Wanna play another game?",IDC_STATIC,80,140,90,12,SS_NOPREFIX
    PUSHBUTTON      "&PLAY", IDOK, 100, 155, 40, 15
    DEFPUSHBUTTON   "Quit",IDCANCEL,170,194,60,18,WS_GROUP | BS_DEFPUSHBUTTON
END

IDD_CONTAINER DIALOGEX 0, 0, 260, 225
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GuessW_RD"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", IDC_CHILDSPACE, 0, 0, 260, 225
END

//
// Manifest resources
//
LANGUAGE 0, SUBLANG_NEUTRAL
1                  RT_MANIFEST    ".\\manifest.xml"
